$icon-font-path: '../fonts/';

@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";


* {
  padding: 0;
  margin: 0;
}

//html {
//  height: 100vh;
//}

body {
  //height: 100vh;

  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(flex-start);
}

header {
  @include flex(0);
  @include flex-basis(auto);
  @include background(grey);
  width: 100vw;
}

section {
  @include flex(1);
  @include flex-basis(auto);
  width: 100%;
}

footer {
  @include flex(0);
  @include flex-basis(auto);
  @include background(grey);
  width: 100vw;
  p {
    text-align: center;
  }
}

.snac-full-view {
  height: 100vh;
}

#landing{
  background-image: url("/images/Framlingham_College.jpg");
  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;
}



  // font-family: $georgia;
  // font-family: $helvetica;
  // font-family: $lucida-grande;
  // font-family: $monospace;
  // font-family: $verdana;
