$icon-font-path: '../fonts/';

// bower:scss
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    background-color: #222;
    background-image: url(https://download.unsplash.com/photo-1428342109953-409d2876cdab);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2 {
    padding: 20px 0px;
}

p {
    padding: 5px 0px;
}


.snac-contain {
    max-width: 900px; // limit size.
    margin-left: auto; // center.
    margin-right: auto;
}

.snac-landing {
    position: relative; // allow childrent to be absolute.
    min-height: 100vh; // fill display.
}

.snac-phrasing { // hide background.
    background-color: #eee;
    min-height: 100vh;
}

.snac-image { // simple thumnail and link.
    position: relative;
    overflow: hidden;

    .snac-image-caption {
        position: absolute;
        bottom: 0;
        padding:0;
        background-color: rgba(30,30,20,0.7);
        text-align:center;
    }
}




.snac-flexing {
    //display: flex;
    //flex-direction: column;
    //flex-wrap: nowrap;
    //justify-content: center;
    //min-height: 100vh;
    //border: 1px solid blue;
}


.snac-flexing > * {
    //height: auto;
    //flex: 0 0 auto;
    //border: 1px solid green;
}

.snac-spacing {
    min-height: 20vh;
    background-color: rgba(230,230,200,0.7);
}

.snac-align-bottom {
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(230,230,200,0.7);
}

// TESTING.


.snac-footer {
    background-color: #222;
}



.snac-flex {
    position: absolute;
    top: 50px;
    //right: 0;
    bottom: 0;
    //left: 0;
    //z-index: -1; // make sure nav is on top.
    
    border: 1px solid green;

    // border: 1px solid black;

     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: space-around;
     //align-items: space-around;
     //align-content: space-around;
     //align-items: space-around;

}

.snac-flex-item {
     border: 1px solid black;
     //height:auto;
     //margin: auto;
}
