//$icon-font-path: '../fonts/';

// bower:scss
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    background-color: #222;
    background-image: url(https://download.unsplash.com/photo-1428342109953-409d2876cdab);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2 {
    padding: 20px 0px;
}

p {
    padding: 5px 0px;
}


.snac-contain {
    max-width: 900px; // limit size.
    margin-left: auto; // center.
    margin-right: auto;
}

.snac-landing {
    position: relative; // allow childrent to be absolute.
    min-height: 100vh; // fill display.
}

.snac-phrasing { // hide background.
    background-color: rgb(250,240,230);
   //background: linear-gradient(40deg, rgb(255,255,255), rgb(150,150,150), rgb(255,255,255));
    min-height: 100vh;

    p {
        text-align: justify;
    }
}

.snac-gallery { // flex box to layout a bunch of images.
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // border: 2px solid green;

    padding: 5px 0px;

    a { // make href fill div.
        display:block;
        height: 100%;
        width: 100%;
    }
}

.snac-image { // simple thumnail and link.
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;   /* don't grow, shrink uniformly */
    //border: 1px solid black;
    border-radius: 5px;
    margin: 5px;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    width: 200px;
    height: 200px;


    &:hover {
        box-shadow: 0 0 10px #333;
        transform: scale(1.01); // horrible, but fun that it works.
    }

    a {


        .snac-image-caption {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: rgba(180,180,120,0.8);
            text-align:center;
        }
    }
}


//.snac-flexing {
    //display: flex;
    //flex-direction: column;
    //flex-wrap: nowrap;
    //justify-content: center;
    //min-height: 100vh;
    //border: 1px solid blue;
//}


.snac-flexing > * {
    //height: auto;
    //flex: 0 0 auto;
    //border: 1px solid green;
}

.snac-spacing {
    min-height: 20vh;
    background-color: rgba(230,230,200,0.7);
}

.snac-align-bottom {
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(230,230,200,0.7);
}

// TESTING.


.snac-footer {
    background-color: #222;
}



.snac-flex {
    position: absolute;
    top: 50px;
    //right: 0;
    bottom: 0;
    //left: 0;
    //z-index: -1; // make sure nav is on top.
    
    border: 1px solid green;

    // border: 1px solid black;

     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: space-around;
     //align-items: space-around;
     //align-content: space-around;
     //align-items: space-around;

}

.snac-flex-item {
     border: 1px solid black;
     //height:auto;
     //margin: auto;
}
